.vscode
/bacup*
/venv
/data/*
!/data/README.md
/models/*
!/models/README.md
/output
notes.txt
final_SPF.xml
__pycache__
.DS_Store
env.py
/test*.ipynb
/show*.ipynb
/test.txt
/*.whl
/validate.ipynb
/dimgpt/testing/tester.py